/* .Products{
    display: flex;
    flex-direction: row;

} */

.Products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-right: 400px; */
    height: auto;
    margin-top: auto;
    grid-template-columns: 3;
    width: 100%;
    margin-left: -59px;
}
