.Shopping{
    margin-top: -100px;
}

.categories{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    max-width: 800px;
    /* margin-left: -50px; */
    height: auto;
    margin-bottom: 70px;
    /* flex-grow: 1; */
    /* flex: 1 0 10%; */
    margin-left: auto;
    margin-right: auto;
    /* height: 200px; */

    /* justify-content: space-around; */
}

@media only screen and (max-width:920px) {
.categories{
    max-width: 500px;
    /* margin-left: -11px; */
}
}

@media only screen and (max-width:600px) {
.categories{
    margin-left: -7.9px;
    margin-right: auto;

}
}


.selectedButton,.unselectedButton{
    /* flex: 1 0 1%; */
    width:120px;
    height: 50px;
    /* padding: 2px;
    margin: 2px; */
    /* margin-left: -35px; */


    /* background-color: #F7882F; */
    border-color: transparent;
    /* border-radius: 1.5px; */

}

.selectedButton{
    /* color: #F7C331;
    border-style: solid;
    border-width: thick;
    border-color: red; */
    background-color: #F7C331;
}
.noCategories{
    font-size: 40px;
    color: #6B7A8F;
    background-color: transparent;
    font-weight: bolder;
     font-family: "Comic Sans MS", cursive, sans-serif;
      margin-top: -7px;
      margin-left: 11px;
    height: auto;
}

.noCategories:hover{
    color: #F7C331;
}


.toggleCategoriesOff, .toggleCategoriesOn{
    display: flex;
    margin-left: 110px;
    width:100px;
    height:40px;
    margin-bottom: 50px;
    justify-content: center;
}

.toggleCategoriesOff{
    background-color: #F7882F;
}

.toggleCategoriesOn{
    background-color: #F7C331;
}

@media only screen and (max-width:600px){
    .toggleCategoriesOff, .toggleCategoriesOn{
        display: flex;
        margin-left: 56.5px;
        margin-right: auto;
        /* margin-left: 34.9%;
        margin-right: 65.1%; */
    }

}
